
#contains_form{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding-top:150px;
    margin:auto;
    width:300px;
    height:600px;
}
.navbar{
    background-color:rgba(0,0,0,0.4);
}
#navbardrop{
    border-radius:50%;
    text-align: center;
}

  .form-group{
    width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }
  .btn{
    width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top:60px;
  }
  .form-check-label{
        text-align:left;
        width: 100%;
  max-width: 330px;
  margin: auto;
    }
    .form-group1{
        padding:0;
    }
    .form-check-input{
        margin-left:0;
    }